form {
  max-width: 100%;
  margin: 0 auto !important;
  text-align: center !important;
}

textarea {
  max-width: 100%;
}

h1 {
  font-family: sans-serif !important;
  font-size: 300% !important;
  text-align: center !important;

}

body {
  font-family: sans-serif;
  margin: 0 30vw;
  text-align: left;
}

input {
  font-size: large;
}

.center {
/* for class = "center"*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
